/*=================media query=========*/
// ============= Media 1272 Max =========
@media (max-width: 1272px) {
  .filter-layout {
    padding: 0 30px;
  }
}
// ============ Media 1001px Max ========
@media (max-width: 1001px) {
  .button-box {
    display: none;
  }
  // ========= header layout ====
  header {
    nav {
      li {
        a {
          font-size: 1rem;
        }
      }
    }
  }
  .menu-btn {
    display: block;
  }
  .button-box {
    display: none;
  }
  .filter-layout {
    padding: 0 30px;
  }
}
// ============ Media 852px Max ========
@media (max-width: 852px) {
  .menu-btn {
    display: block;
  }
  .mobile-button {
    @include flex-center;
    flex-direction: column;
    gap: 30px;
  }
  // ========= header layout ====
  header {
    nav {
      .wrapper {
        top: 0px;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        right: -100%;
        display: flex;
        z-index: 10;
        background-color: #fff;
        flex-direction: column;
        transition: all 0.5s;
        &.show {
          right: 0;
        }
        .nav-links {
          display: block;
          list-style-type: disc;
          -webkit-padding-inline-start: 0;
          -moz-padding-inline-start: 0;
          -ms-padding-inline-start: 0;
          -o-padding-inline-start: 0;
          padding-inline-start: 0px;
        }
        li {
          margin: 20px 0px !important;
          line-height: 30px;
          display: block !important;
          padding: 10px 15px;
          transition: 0.5s;
          a {
            padding: 10px 15px;
            font-size: 20px;
            color: $main-clr;
            &.active {
              color: $main-clr;
              background: $second-bg;
              @include border-radius(32px);
            }
            &:hover {
              background: $second-bg;
              @include border-radius(32px);
            }
          }
          a {
            transition: 0.5s;
            color: $second-bg;
            &:hover {
              color: $main-clr;
            }
          }
        }
      }
    }
  }
  .filter-layout {
    padding: 0 30px;
  }
}
// ============ Media 656px Max ========
@media screen and (max-width: 656px) {
  .filter-layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
