// Figma Color variables
$figma_white: #ecebf6;
$figma_darkblue: #272c48;
$figma_purple: #d4357d;
$figma_grey: #8a8ba1;
$figma_yellow: #ecb332;
$figma_blue: #27b8bf;
// Color Variables
$white: #efefff;
$darkblue: #202142;
$grey: #f1f1fd;
// Font Variables
