header {
  background: $main-bg;
  @include flex-between;
  box-sizing: border-box;
  padding: 40px 50px;
  height: 100px;
  width: 100%;
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.5);
  .logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    z-index: 11;
    p {
      text-align: center;
      white-space: nowrap;
    }
  }
  nav {
    .wrapper {
      gap: 20px;
      .nav-links {
        display: flex;
        li {
          display: flex;
          transition: 0.5s;
          a {
            padding: 10px 15px;
            font-size: $normal-font-size;
            color: $main-clr;
            transition: 0.5s;
            color: $second-bg;
            &.active {
              color: $main-clr;
              background: $second-bg;
              @include border-radius(32px);
            }
            &:hover {
              background: $second-bg;
              @include border-radius(32px);
              color: $main-clr;
            }
          }
        }
      }
    }
  }
  label.menu-btn {
    position: relative;
    z-index: 11;
  }
}
.menu-btn {
  font-size: 30px;
  color: $main-clr;
  cursor: pointer;
  display: none;
}
