button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  &.button-dark {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: block;
    background-color: $main-clr;
    color: $main-bg;
    @include border-radius(10px);
    transition: 0.5s;
    &:hover {
      transform: translateX(5px) translateY(-7px);
    }
  }
  &.button-light {
    padding: 0 10px;
    background-color: transparent;
    color: $main-clr;
    transition: 0.5s;
    &:hover {
      transform: translateY(-7px);
    }
  }
}
.button-box {
  @include flex-center;
  gap: 10px;
}

.mobile-button {
  display: none;
}
